.wrapper{
    width: 1226px;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 160px;
}

header>.banner{
    width: 100%;
    height: 120px;
    position: relative;
    overflow: hidden;
}

header>.banner img{
    height: 120px;
    position: absolute;
    top:0px;
    left: 50%;
    transform: translateX(-50%);
}

header>.navbar{
    height: 40px;
    background-color: #333;

}

header>.navbar a{
    color: #b0b0b0;
    font-size: 12px;
    line-height: 40px;
}

header>.navbar a:hover{
    color: #fff;
}

header .sep{
    color: #424242;
    margin: 0px 5.2px;
}

header>.navbar li{
    float: left;
}

header .nav{
    float: left;
}

header .menu{
    float: right;
}

header .cart {
    width: 120px;
    margin-left: 15px;
    float: right;
    position: relative;
}

header .cart a{
    display: inline-block;
    height: 40px;
}

header .cart a:hover{
    color: #ff6700;
}


header .cart .cart-info{
    width: 316px;
    height: 0px;
    position: absolute;
    right: 0;
    top: 40px;
    overflow: hidden;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, .3);
    transition: all .3s;
    background-color: #fff;
    z-index: 3;
}

header .cart a:hover+.cart-info, header .cart .cart-info:hover{
    height: 80px;
    padding-top: 20px;
}

header .nav .down{
    position: relative;
}

header .nav .down>a{
    display: inline-block;
    height: 40px;
}

header .nav .down:hover .code{
    height: 148px;

}
header .nav .down:hover .triangle{
    display: block;
}

header .nav .down .code{
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 124px;
    height: 0px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .3);
    transition: all .3s;
    overflow: hidden;
    background-color: #fff;
    z-index: 3;
}

header .nav .down .code:hover{
    height: 148px;
}

header .nav .down .code:hover~.triangle{
    display: block;
}

header .nav .down .code img{
    width: 90px;
    margin: 18px auto 12px;
}

header .nav .down .code p{
    color: #333;
    font-size: 14px;
    line-height: 1;
}

header .triangle{
    border-top: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.main{
    width: 100%; 
    height: 770px;
    background-color: #fff;
    position: relative;
}

.main .top{
    width: 100%;
    height: 88px;
    padding-top: 12px;
    
}

.main .logo{
    width: 55px;
    height: 55px;
    margin-top: 10px;
    margin-right: 179px;
    float: left;
    background-color: #ff6700;
    overflow: hidden;
}
.main .logo>a{
    display: block;
    width: 55px;
    height: 55px;
    position: relative;
    transition: all .3s;
    
}
.main .logo:hover>a{
    margin-left: 55px;
}

.main .logo img{
    width: 49px;
    margin-top: 3px;
    margin-left: 3px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.main .logo img:last-child{
    left: -55px;
}

.main .top-nav{
    width: 695px;
    height: 88px;
    float: left;

}

.main .top-nav li{
    padding: 26px 10px 38px;
    float: left;
}

.main .top-nav li>a{
    font-size: 16px;
    color: #333;
    
}

.main .top-nav li>a:hover{
    color: #ff6700;
}

.main .top-nav .detail{
    position: absolute;
    width: 100%;
    height: 0px;
    top: 100px;
    left: 0px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: height .3s;
    z-index: 1;
}

.detail-item{
    width: 180px;
    height: 166px;
}

.detail-item img{
    width: 160px;
    padding: 0px 12px;
    border-right: 1px solid #e0e0e0;
    
}

.detail .detail-item:last-child img{
    border-right: none;
}


.detail-item .name{
    font-size: 12px;
    color: #333;
    height: 20px;
    line-height: 20px;
}

.detail-item .price{
    font-size: 12px;
    color: #ff6700;
    height: 20px;
    line-height: 20px;
}

.top-nav>ul>li:hover .detail{
    height: 230px;
    border-top: 1px solid #e0e0e0;

}


.main .search{
    width: 296px;
    height: 50px;
    margin-top: 13px;
    float: right;
    text-align: left;
    position: relative;
    z-index: 3;

}

.search .textbox{
    height: 50px;
    width: 243px;
    border: 1px solid #e0e0e0;
    float: left;
    outline: none;
    border-right: 0px;
    transition: all .2s;
}

.search:hover .magnifier{
    border-color: #b0b0b0;
}

.search:hover .textbox{
    border-color: #b0b0b0;
}

.search .textbox:focus{
    border-color: #ff6700;
}

.search .textbox:focus~input{
    border-color: #ff6700;
}

.search .magnifier{
    width: 50px;
    height: 50px;
    padding: 1px 6px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    font-size: 24px;
    cursor: pointer;
    float: left;
    transition: all .2s;
}
.search .magnifier:hover{
    background: #ff6700;
    border: 1px solid #ff6700;
}

.search ul{
    clear: both;
    width: 242px;
    height: 0px;
    overflow: hidden;
    transition: height .2s;
    background-color: #fff;
}

.search ul>li{
    padding-left: 12px;
    height: 30px;
    line-height: 30px;
}

.search ul>li:hover{
    background: #f1f1f1;
}

.search li>a{
    color: #424242;
    font-size: 12px;
    
}

.search .textbox:focus~ul{
    border: 1px solid #ff6700;
    border-top: none;
    height: 240px;
}

.main .mid{
    width: 100%;
    height: 460px;
    position: relative;
}

.main .mid .banner img{
    height: 460px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
}

.main .mid .left-nav{
    width: 234px;
    height: 420px;
    background-color: rgba(105,101,101,.6);
    color: #fff;
    position: absolute;
    padding: 20px 0px;
}

.main .mid .left-nav>li{
    width: 100%;
    height: 42px;
}

.main .mid .left-nav>li:hover{
    background-color: #ff6700;
}
.main .mid .left-nav>li:hover>.detail{
    display: block;
}

.main .mid .left-nav>li>a:first-child{
    display: block;
    height: 42px;
    line-height: 42px;
    color: #fff;
    padding-left: 30px;
    text-align: left;
}

.main .mid .left-nav .right-arrow{
    margin-right: 20px;
    float: right;
}

.main .mid .detail{
    width: 991px;
    height: 458px;
    border: 1px solid #e0e0e0;
    border-left: none;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, .3);
    position: absolute;
    top: 0px;
    left: 234px;
    background-color: #fff;
    display: none;
}


.main .mid .detail ul{
    width: 247px;
    height: 456px;
    margin:1px 0px;
    float: left;
}

.main .mid .detail ul>li{
    width: 100%;
    height: 75px;
    padding: 18px 20px;
    box-sizing: border-box;
    text-align: left;
}

.main .mid .detail img{
    margin-right: 12px;

}

.main .mid .detail span{
    color: #333;
    font-size: 14px;
}

.main .mid .detail li:hover span{
    color: #ff6700;
}

.main .bottom{
    width: 100%;
    height: 170px;
    margin-top: 14px;
}

.main .bottom>.menu{
    width: 228px;
    height: 164px;
    padding: 3px;
    float: left;
    background-color: #5f5750;
}

.main .bottom>.menu>.item{
    width: 70px;
    height: 48px;
    padding: 18px 3px;
    float: left;
    position: relative;
    /* border: 1px solid #665e57; */
    z-index: 5;
}

.hline::before{
    content: "";
    width: 64px;
    height: 1px;
    background-color: #665e57;
    /* background-color: red; */
    position: absolute;
    left: 3px;
    bottom: 0px;
}

.vline::after{
    content: "";
    width: 1px;
    height: 76px;
    background-color: #665e57;
    /* background-color: red; */
    position: absolute;
    top: 3px;
    right: 0px;
}

.main .bottom>.menu>.item a{
    color: #fff;
    font-size: 12px;
    opacity: .7;
}

.main .bottom>.menu>.item:hover a{
    opacity: 1;
}

.main .bottom>.menu>.item a span{
    font-size: 24px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
}

.main .bottom>.ad{
    width: 316px;
    height: 170px;
    margin-left: 14.66px;
    background-color: skyblue;
    float: left;
    transition: all .3s;
}
.main .bottom>.ad img{
    width: 100%;
}


.main .bottom>.ad:hover{
    box-shadow: 0px 5px 15px rgba(0,0,0,.3);
}

/* 模块属性 */

.mod .title{
    width: 100%;
    height: 58px;
    line-height: 58px;
    font-size: 22px;
    font-weight: 200;
    color: #333;
    text-align: left;
}

.mod .item{
    width: 234px;
    margin-left: 14px;
    float: left;

}

.mod .item a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px 0px;
    box-sizing: border-box;


}
.mod .item a img{
    width: 160px;
    margin-bottom: 18px;
}

.mod .item .desc{
    color: #333;
    font-size: 14px;
    margin: 0 20px 3px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.mod .item .extra{
    color: #b0b0b0;
    margin: 0 20px 12px;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.mod .item .price{
    color: #b0b0b0;
    font-size: 14px;
    margin: 0 10px 14px;
}
.mod .item span{
    color: #ff6709;
}

.mod .aside{
    margin-left: 0px;
}

.mod .banner{
    clear: both;
    width: 100%;
    height: 120px;
    margin: 22px 0px;
}

.mod .effect{
    transition: all .2s;
}

.mod .effect:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .3);
    transform: translateY(-2px);
}

.mod .top{
    margin-bottom: 14px;
}

/* 模块属性 */

.box::after{
    /* overflow: hidden; */
    content: "";
    display: block;
    clear: both;
}

.item-sec{
    height: 340px;
    padding-top: 20px;
    border-top:1px solid #e53935 ;
    background-color: #fff;
    box-sizing: border-box;
}

.item-sec:first-child{
    border-top-color: #e53935;
}

.item-sec:nth-child(2){
    border-top-color: #ffac13;
}

.item-sec:nth-child(3){
    border-top-color: #83c44e;
}
.item-sec:nth-child(4){
    border-top-color: #2196f3;
}
.item-sec:last-child{
    border-top-color: #ffac13;
}

.seckill .aside{
    background-color: #f1eded;
    padding-left: 14px;
    padding-top: 39px;
    box-sizing: border-box;
}

.seckill .aside .hint-top{
    padding-top: 15px;
    font-size: 21px;
    color: #ef3a3b;

}

.seckill .aside img{
    margin: 25px 0px;
}

.seckill .aside .hint{
    font-size: 15px;
    color: rgba(0, 0, 0, .54);
}

.seckill .aside .time-num{
    display: inline-block;
    width: 46px;
    height: 46px;
    background-color: #605751;
    line-height: 46px;
    font-size: 24px;
    color: #fff;
    margin-top: 30px;
}

.seckill .aside .time-seg{
    display: inline-block;
    width: 15px;
    height: 46px;
    line-height: 46px;
    font-size: 28px;
    color: #605751;

}

/* 手机 */

.item-phone{
    height: 300px;
    background-color: #fff;

}

.phone .aside{
    height: 614px;
    background-color: #fff;
}

.aside>a{
    padding: 0 !important;
}

.aside>a>img{
    width: 100% !important; 
}

/* 家电 */
.item-elec{
    height: 300px;
    background-color: #fff;
}

.last-top{
    height: 93px;
    padding-top: 50px;
    background-color: #fff;
    position: relative;
}

.last-top .img{
    position: absolute;
    right: 20px;
    top: 32px;
    width: 80px;
    height: 80px;
}

.last-top .img>img{
    width: 100%  !important;
}

.last-top h3{
    color: #333;
    font-size: 14px;
    font-weight: 400;
    margin: -10px 110px 5px 30px;
    text-align: left;

}

.last-top p{
    text-align: left;
    margin-left: 30px !important;
}

.last-bottom{
    height: 143px;
    padding: 50px 35px 45px 30px;
    margin-top: 14px;
    background-color: #fff;
    box-sizing: border-box;
    position: relative;
}

.last-bottom .more{
    font-size: 18px;
    color: #333;
    text-align: left;
    width: 94px;
}

.last-bottom .small{
    width: 94px;
    font-size: 12px;
    color: #757575;
    text-align: left;
}

.last-bottom span{
    color: #ff6700;
    font-size: 56px;
    position: absolute;
    right: 30px;
    top: 48px;
}
.last-bottom a{
    padding: 0 !important;
}

.view-all{
    font-size: 16px;
    color: #424242;
    float: right;
}
.view-all span{
    font-size: 14px;
    color: #fff;
    background-color: #b0b0b0;
    padding: 2px;
    border-radius: 10px;
    margin-left: 8px;

}

.view-all:hover{
    color: #ffac13;
}

.view-all:hover span{
    background-color: #ffac13;
}

.video-box::before,.video-box::after{
    content: "";
    display: block;
    clear: both;
}


.video-item{
    width: 296px;
    height: 285px;
    background-color: #fff;
    float: left;
    margin-bottom: 14px;
    margin-left: 14px;
    position: relative;
}
.video-item .play{
    width: 32px;
    height: 20px;
    border: 2px solid #fff;
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    left: 20px;
    top: 140px;
    border-radius: 20px;
    font-size: 16px;
    line-height: 20px;
    padding-left: 2px;
    color: #fff;
}

.video-item .desc{
    color: #333;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 28px 14px 6px; 
}
.video-item .subdesc{
    color: #b0b0b0;
    font-size: 12px;
}


/* 页脚 */
footer{
    background-color: #fff;
}

.list-service{
    width: 100%;
    overflow: hidden;
    padding: 27px 0px;
    border-bottom: 1px solid #e0e0e0;
}

.list-service li{
    float: left;
    width: 19.8%;
    height: 25px;
    border-left: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 25px;
}
.list-service li:first-child{
    border: none;
}

.list-service li>a{
    font-size: 16px;
    color: #616161;

}
.list-service li span{
    font-size: 24px;
    line-height: 24px;
    margin-right: 6px;
}

.footer-links{
    width: 100%;
    height: 172px;
    padding: 40px 0px;
    
}

.footer-links ul{
    float: left;
    width: 160px;
    text-align: left;
}

.footer-links ul>li{
    width: 160px;
    height: 17px;
    font-size: 14px;
    color: #424242;
    margin-top: 10px;
}

.footer-links li:first-child{
    margin-bottom: 26px;
    margin-top: 0px;
}

.footer-links ul>li a{
    font-size: 10px;
    color: #757575;
}

.tel{
    width: 251px;
    float: right;
    border-left: 1px solid #e0e0e0;
}

.tel p{
    height: 22px;
    margin-bottom: 5px;
    font-size: 22px;
    color: #ff6700;
    line-height: 22px;
}

.tel .normal{
    margin-bottom: 5px;
    font-size: 12px;
    color: #616161;
}

.tel .msg{
    display: block;
    width: 118px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    margin: 0 auto;
    border: 1px solid #ff6700;
    color: #ff6700;
}

.tel .msg:hover{
    color: #fff;
    background-color: #ff6700;
}

.tel .follow{
    width: 100%;
    height: 24px;
    line-height: 24px;
    margin-top: 10px;
    font-size: 12px;
    color: #616161;
    position: relative;
    padding-right: 100px;
}

.follow .text {
    padding-right: 60px;
}


.tel .sina{
    font-size: 24px;
    color: #757575;
    position: absolute;
    left: 130px;
    top: 1px;
}

.tel .sina:hover{
    color: #ff6700;
}

.tel .code>.weixin{
    position: absolute;
    font-size: 24px;
    left: 165px;
    top: 0px;
}
.tel .code:hover{
    color: #ff6700;
}
.tel .code img{
    width: 126px;
    position: absolute;
    left: 100px;
    display: none;
}
.tel .code:hover img{
    display: block;
}

.site{
    padding: 30px 0px;
    overflow: hidden;
}

.site .logo{
    float: left;
    width: 57px;
    height: 57px;
    margin-right: 10px;
    background: url("../images/logo-footer.png") center no-repeat;
}

.site .info{
    float: left;
    width: 1159px;
    height: 110px;
    text-align: left;
}
.site .info a{
    font-size: 12px;
    color: #757575;

}

.site .info .small{
    font-size: 12px;
    color: #b0b0b0;
}
.site .sep{
    font-size: 10px;
    color: #b0b0b0;
    margin: 0px 5px;
}



.site .info-links{
    width: 100%;
    height: 38px;
    box-sizing: border-box;
    margin-left: 67px;
    margin-bottom: 15px;
    clear: both;
    text-align: left;
    padding-top: 10px;
    margin-bottom: 15px;
}

.site .info-links img{
    height: 28px;
}


/* 轮播图 */
.prev{
    position: absolute;
    width: 41px;
    height: 69px;
    top: 50%;
    left: 234px;
    line-height: 69px;
    cursor: pointer;
}

.prev span,.next span{
    font-size: 30px;
    color: #b0b0b0;
   
}
.prev:hover,.next:hover{
    color: #000;
    background-color: #888;
}


.next{
    position: absolute;
    width: 41px;
    height: 69px;
    top: 50%;
    right: 0px;
    line-height: 69px;
    transform: rotate(180deg);
    cursor: pointer;

}

.radio{
    position: absolute;
    right: 30px;
    bottom: 20px;
}

.radio li{
    width: 6px;
    height: 6px;
    border: 2px solid rgba(0, 0, 0, .3);
    float: left;
    margin: 0 4px;
    border-radius: 50%;
}



